.card {
  background: #111;
  color: white;
  border-radius: 12px;
  padding: 12px;
  width: 90vw;
  max-width: 700px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
 
}

  /* IMAGE */
  .imageWrapper {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    /* border: 1px solid grey; */
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* INFO */
  .info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 10px;
    opacity: 0.9;
  }

  .stats {
    display: flex;
    gap: 10px;
    font-weight: bold;
  }

  .right {
    color: rgb(109, 209, 109);
  }

  .wrong {
    color: red;
  }

  /* BUTTONS */
  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .btn {
    flex: 1;
    border: none;
    padding: 2px 4px;
    border-radius: 2px;
    cursor: pointer;
    color: white;
  }

  .delete {
    background: #ff3b3b;
  }

  .update {
    background: #2b7cff;
  }

  .solve {
    background: #22c55e;
  }

  /* SOLVE AREA */
  .solveArea {
    margin-top: 12px;
    padding-top: 10px;
    border-top: 1px solid #333;
  }

  .inputRow {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
  }

  .input {
    flex: 1;
    padding: 6px;
    border-radius: 6px;
    border: none;
    
    outline: none;
     overflow: hidden;        /* hide extra text */
     text-overflow: ellipsis; /* show ... */
  }

  .submitBtn {
    background: #444;
    color: white;
    border: none;
    padding: 6px 8px;
    border-radius: 6px;
    cursor: pointer;
    width: 70px;
  }
  .quiestion-popup{
    background-color:  green;
    border: 2px solid white;
    color: white;
   
    border-radius: 10px;
    min-width: 300px;
    min-height: 200px;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    position: fixed;
     top: 20%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 999;
     padding: 20px;
    text-align: center;
    
  }
  .right-answer-popup{
    background-color:  green;
    border: 2px solid white;
    color: rgb(7, 0, 0);
    font-size: 40px;
   
    border-radius: 10px;
    min-width: 300px;
    min-height: 100px;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    position: fixed;
     top: 20%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 999;
     padding: auto;
     padding-top: 40px;
    text-align: center;

  }
  .fileInput{
    background-color:  rgb(128, 0, 28);
    width: 100%;
    height: 20px;
  }
  .fileInput button{
    background-color:  green;
  }
  .rect-num{
    width: 20px;
  }