.image-picker {
  width: 100%;
  max-width: 300px;
  height: 200px;

  border: 2px dashed #0ff;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: #0ff;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: 0.3s;
}

.image-picker:hover {
  box-shadow: 0 0 15px #0ff;
}